---
import { Image } from "astro:assets";
import { paths } from "@awfe/paths";
import ImgHome from "./assets/home.svg";
import ImgMagnifier from "./assets/magnifier.svg";
import ImgMovie from "./assets/movie.svg";
import ImgTv from "./assets/tv.svg";
---

<nav class="bg-black px-6 py-8 text-black">
  <ul class="flex justify-around gap-10 md:flex-col md:justify-start">
    <li class="hover:opacity-80">
      <a href={paths.index}>
        <Image alt="Home" class="h-6 w-6" src={ImgHome} />
      </a>
    </li>
    <li class="hover:opacity-80">
      <a href={paths.movies}>
        <Image alt="Movies" class="h-6 w-6" src={ImgMovie} />
      </a>
    </li>
    <li class="hover:opacity-80">
      <a href={paths.tv}>
        <Image alt="TV" class="h-6 w-6" src={ImgTv} />
      </a>
    </li>
    <li class="hover:opacity-80">
      <a href={paths.search}>
        <Image alt="Search" class="h-6 w-6" src={ImgMagnifier} />
      </a>
    </li>
  </ul>
</nav>
